<div class="login-container">
    <div class="title">Login</div>
    <form #form='ngForm' autocomplete="off" class="form-container" (submit)="onSubmit()">
        <div class="form-section">
            <label>Username</label>
            <input type="text" #UserName="ngModel" name="Email" [(ngModel)]="formModel.Email" required>
        </div>
        <div class="form-section">
            <label>Password</label>
            <input type="password" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required>
        </div>
        <div class="form-section">
            <label>Password</label>
            <input type="password" #Password="ngModel" name="ConfirmPassword" [(ngModel)]="formModel.ConfirmPassword"  (ngModelChange)="CheckPassword()" required >
        </div>
            <p class="error-messege">{{ confirmPasswordErrorMessege }}</p>
        <div class="form-section">
            <button type="submit" class="submitButton" [ngClass]="disabled?'':'disabled'">Register</button>
        </div>
    </form>
</div>
